---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
    <p>
        {summary}
    </p>
</Section>

<style>
    p {
        font-size: 0.875rem;
        line-height: 1.25;
    }
</style>
