---
import Section from "../Section.astro"

const { paragraphs, title } = Astro.props as {
    paragraphs: string[]
    title: string
}
---

<Section title={title ? title : ""}>
    <div class="about">
        {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
    </div>

    <style>
        p {
            color: hsl(224 71.4% 4.1%);
            text-wrap: pretty;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        .about {
            display: flex;
            flex-direction: column;
            gap: 1lh;
        }
    </style>
</Section>
