---
import type { Work } from "@/cv"
import Section from "../Section.astro"

const { experience: workExperience, title } = Astro.props as {
    experience: Work[]
    title: string
}
const work = [
    {
        name: "jsconf.es",
        position: "Mejorar el diseño responsive de la web.",
        url: "https://github.com/midudev/jsconf.es/commits?author=ivanmayta",
        summary: "I worked on the jsconf.es website",
    },
    {
        name: "peru.ai-hackathon.co",
        position:
            "Mejora en el diseño responsive e implementacion de nuevas features.",
        url: "https://github.com/crafter-station/peru.ai-hackathon.co/pull/24",
        summary: "I worked on the Peru AI Hackathon website",
    },
]
---

<Section title={title ? title : "Contribuciones"}>
    <ul>
        {
            work.map(({ name, position, summary, url }) => {
                return (
                    <li class="mb-3">
                        <article>
                            <div class="rounded-lg bg-card text-card-foreground">
                                <div class="flex flex-col space-y-1.5">
                                    <div class="flex items-center justify-between gap-x-2 gap-y-4 text-base">
                                        <h3 class="font-semibold leading-none">
                                            <a
                                                class="hover:underline"
                                                href={url}
                                                title={`Ver ${name}`}
                                                target="_blank"
                                            >
                                                {name}:{" "}
                                                <span class=" font-normal text-foreground/80">
                                                    {position}
                                                </span>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                )
            })
        }
    </ul>
</Section>
